{% extends 'layout.html' %}
{% block body %}
<h3>Hakkımda</h3> 
<hr>
Ben Cemal Küreli. Manisa Celal Bayar Bilgisayar Mühendisliği (İngilizce) 4. Sınıf öğrencisiyim. Java, Python, Web ve oyun geliştirme üzerinde
çalışmaktayım. Genel olarak Python kullanarak projeler yapmaya çalışmaktayım. Boş zamanlarda video oyunları oynuyorum. (Genel olarak online,strateji,aksiyon vb.) Oyun geliştirmeye devam ediyorum ancak daha kendime özgü bir oyun tasarlamışlığım
yok. Genel olarak piyasadaki oyunların benzerlerini tasarlıyorum ancak ileri zamanlarda güzel oyunlar çıkaracağımdan eminim. Youtube,Twitch,Steam,DC kanallarım bulunmaktadır.
<br><br>
<h5> Reklam Veya Sponsorluk Adresi: &nbsp; cemalkureli@gmail.com <h5>
<h5> Öneri Veya Destek Adresi: &nbsp; respectconquest1453@gmail.com <h5>
<hr>
{% endblock body %}